body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: mediumaquamarine;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  border-radius: 10px;
  height: 350px;
  width: 750px;
  padding: 10px;
}
.scoreBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  width: 200px;
  height: 150px;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
}
.name {
  margin: 0;
}
.gameArea {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 150px;
}
#header {
  margin-bottom: 50px;
  text-emphasis: bold;
  font-style: normal;
}
#wordArea {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.spot {
  font-size: 1em;
  width: 30px;
  height: 30px;
  margin-top: 2px;
  padding: 2px;
  margin-bottom: 0;
  margin-left: 2px;
  opacity: 1;
}
.guessedSpot {
  font-size: 1em;
  width: 30px;
  height: 30px;
  margin-top: 2px;
  padding: 2px;
  margin-bottom: 0;
  margin-left: 2px;
  opacity: 1;
}
.box {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 150px;
  border-radius: 5px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.letterArea {
  display: flex;
  flex-wrap: wrap;
  width: 275px;
  height: 150px;
  border-radius: 5px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.letterButton {
  display: flex;
  cursor: pointer;
  background-color: bisque;
  justify-content: center;
  height: 18px;
  width: 18px;
  border-radius: 5px;
  margin: 0.5%;
  font-size: 80%;
}
.guessedLetterButton {
  opacity: 0;
  pointer-events: none;
}
.popup {
  display: none;
  position: fixed;
  height: 200px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: seagreen;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.name-form {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
